# Shared
NODE_ENV=development

# API
PORT=5000
MONGO_URI=mongodb://localhost:27017/restaurant_promax
JWT_SECRET=super-secret
JWT_EXPIRES_IN=7d
APP_DOMAIN=example.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SMTP
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@example.com

# Payments
STRIPE_SECRET_KEY=

# Web
NEXT_PUBLIC_API_URL=http://localhost:5000/api
SERVICE_TOKEN=
